version: '3.8'

services:
  laravel.test:
    build:
      context: ./vendor/laravel/sail/runtimes/8.2
      args:
        WWWGROUP: '${WWWGROUP}'
    image: laravel.test
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    ports:
      - "3307:3306"
    environment:
      MYSQL_DATABASE: app
      MYSQL_USER: root
      MYSQL_PASSWORD: 12345678
    volumes:
      - mysql-data:/var/lib/mysql

volumes:
  mysql-data:
